# 資料管理者第五章：資料庫操作
學習如何使用 Python 連接 SQLite 資料庫，進行查詢與更新

## 1. 建立資料庫連線

In [ ]:
import sqlite3
conn = sqlite3.connect('customer_db.sqlite')
cursor = conn.cursor()

## 2. 建立資料表

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS customers (
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT
)
''')
conn.commit()

## 3. 插入資料

In [ ]:
data = [(1, 'Amy', 'amy@mail.com'), (2, 'Bob', 'bob@example.com')]
cursor.executemany('INSERT INTO customers VALUES (?, ?, ?)', data)
conn.commit()

## 4. 查詢資料

In [ ]:
df = pd.read_sql('SELECT * FROM customers', conn)
df

## 5. 關閉連線

In [ ]:
conn.close()